<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Progresso -->
    <link href="~/Content/css/waitMe.min.css" rel="stylesheet">
    <!-- mensagens sucesso/fracasso/outras -->
    <link href="~/Content/css/alertify.min.css" rel="stylesheet">
    <link href="~/Content/css/themes/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/geral.css" rel="stylesheet">



    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MinhaCelula</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @*<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>*@
                <a id="Usuarios" class="nav-item nav-link" href="@Url.Action("Index","Users")">Usuários</a>
                <a id="Celulas" class="nav-item nav-link" href="@Url.Action("Index","Celulas")">Células</a>
                <a id="Relatorios" class="nav-item nav-link" href="#">Relatórios</a>
            </div>
        </div>
    </nav>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Minha Celula Protected By @@Copyright</p>
        </footer>
    </div>


    @*<script src="~/Scripts/popper.min.js"></script>*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/main.js"></script>*@
    <script src="~/Scripts/waitMe.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>

    <script>
        $(document).ready(function () {
            MarcarPaginaMenu();
            
            $("#tbxBuscar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function ProgressBar() {
            //StopScroll();
            $('body').waitMe({
                effect: 'ios',
                text: 'Quase Pronto...',
                color: '#007bff'
            });
        };

        function StopProgressBar() {
            //StartScroll();
            $('body').waitMe('hide');
        };

        function MarcarPaginaMenu() {
            //$("#navbarNavAltMarkup").find("a").removeClass("active");
            $("#@ViewBag.Title").addClass("active");
        }
    </script>


    @*@Scripts.Render("~/Scripts")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
