@using MinhaCelula.Model
@model IEnumerable<Celula>
@{
                /**/

                Layout = null;

}

@foreach (Celula Us in Model)
{
<tr id="@Us.CelulaId">
    <th scope="row">
        <i class="material-icons clicavel" onclick="RemoverCelula(@Us.CelulaId);">delete</i>
        <i class="material-icons clicavel" onclick="EditarCelula(this);" >edit</i>
    </th>
    <th scope="row">@Us.CelulaId</th>
    <td>@Us.CelulaName</td>
    <td>@Us.CelulaDia</td>
    <td>@Us.CelulaHorario</td>
</tr>

}


