@using MinhaCelula.Model
@model IEnumerable<Usuario>
@{
                /**/

                Layout = null;

}

@foreach (Usuario Us in Model)
{
<tr id="@Us.UsuarioId">
    <th scope="row">
        <i class="material-icons clicavel" onclick="RemoverUsuario(@Us.UsuarioId);">delete</i>
        <i class="material-icons clicavel" onclick="EditarUsuario(this);" disable="@(Us.Status == UserStatus.PrimeiroAcesso)">edit</i>
    </th>
    <th scope="row">@Us.UsuarioId</th>
    <td>@Us.Nome</td>
    <td>@Us.Email</td>
    <td>@Us.Status</td>
</tr>

}


